@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Silver Screener</h1>
    <p class="lead">Silver Screener is a movie app that allows you to search by movies in a database by Genre and find Movie Theaters in teh area.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Completed Requirements</h2>
        <p>
            It is a web application using Bootstrap. Developed in a C# with Entity Framework and employs some AJAX scripts to implement filtering. It allows
            a user to add movies, with movie poster images, and it allows the user to filter movies by genre. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>To Do</h2>
        <p>-- Implement a search on movie theaters by zip code
            <br/> -- Add Showtimes to movies and theaters
            <br/> -- Fix issue of clearing out Genreas to show all movies
            <br/> -- Theater Search is not working</p>
        
    </div>
    
</div>