
@model SilverScreener.Models.CheckBoxListItem

<li>
    @Html.HiddenFor(model => model.ID)
    @Html.CheckBoxFor(model => model.IsChecked)
    @Html.LabelFor(model => model.IsChecked, Model.Display)
</li>